<p>list works!</p>
<div [ngSwitch]="userRole" appHotCounter>
  <div *ngSwitchCase="roles.admin">Admin</div>
  <div *ngSwitchCase="roles.invitado">Guest</div>
  <div *ngSwitchDefault>Unknown</div>
</div>

<button type="button" (click)="addUser()">Añadir usuario</button>
<input type="text" [(ngModel)]="filter" />
<ng-container appFetch="users" (users$)="usuarios = $event"></ng-container>
<app-user-list-item
  [user]="user"
  *ngFor="let user of usuarios | slice : 0 : 5; trackBy: trackById"
  [appTooltip]="user.name | uppercase | lowercase"
>
</app-user-list-item>
<app-user-list-item
  [user]="user"
  *ngFor="let user of users$ | async | slice : 0 : 5; trackBy: trackById"
  [appTooltip]="user.name | uppercase | lowercase"
>
</app-user-list-item>
