<h4 style="margin-top: 0">Crear album:</h4>
<form name="newAlbum" id="newAlbum" [formGroup]="form" (ngSubmit)="guardar()">
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      formControlName="title"
      [ngClass]="{ 'is-invalid': errors?.title }"
    />
    <div class="invalid-feedback" *ngIf="errors?.title as errors">
      <div *ngIf="errors?.required">El título es obligatorio</div>
      <div *ngIf="errors?.minlength as error">
        El título tiene que tener como mínimo
        {{ error.requiredLength }} caracteres
      </div>
      <div *ngIf="errors?.maxlength as error">
        El título tiene que tener como máximo
        {{ error.requiredLength }} caracteres y ahora tiene
        {{ error.actualLength }}
      </div>
    </div>
  </div>
  <div class="form-group">
    <select class="input-group" name="type" id="type" formControlName="type">
      <option [ngValue]="null">Seleccione tipo de album</option>
      <option *ngFor="let tipo of tipos" [ngValue]="tipo">{{ tipo }}</option>
    </select>
  </div>
  <fieldset style="margin-bottom: 0.5rem" formArrayName="songs">
    <legend
      style="
        border: 1px solid;
        padding: 0.25em;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
      "
    >
      Canciones
      <button type="button" (click)="newSong()">➕ Añadir canción</button>
    </legend>
    <table style="border: 1px solid black; width: 100%; border-collapse: collapse;">
      <thead style="border: 1px solid black;">
        <th width="90%" style="border: 1px solid black;">Canción</th>
        <th style="border: 1px solid black;"></th>
      </thead>
      <tbody style="border: 1px solid black;">
        <tr *ngFor="let song of songs; let idx = index" style="border: 1px solid black;" [formGroup]="song">
          <td style="border: 1px solid black;">
            <input type="text" formControlName="title" />
          </td>
          <td style="border: 1px solid black;">
            <input type="text" formControlName="duration" />
          </td>
          <td style="border: 1px solid black;">
            <button
              type="button"
              (click)="quitarCancion(idx)"
              aria-label="Quitar"
            >
              🗑
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- <div *ngFor="let song of songs; let idx = index" style="display: flex;" >
      <input type="text" [formControl]="song">
      <button type="button" (click)="quitarCancion(idx)" aria-label="Quitar">
        🗑
      </button>
    </div> -->
  </fieldset>
  <div>
    {{ errors | json }}
  </div>
  <div>
    {{ form.value | json }}
  </div>
  <div>
    {{ form.getRawValue() | json }}
  </div>
  <button type="submit" [disabled]="form.invalid">Guardar</button>
  <button type="button" (click)="reset()">Reset</button>
</form>
