<h4><a [routerLink]="['edit', item.id]">{{ item.title }}</a></h4>
<div *ngIf="item.songs.length">
  <h5>Canciones:</h5>
  <ol>
    <li *ngFor="let cancion of item.songs">{{ cancion.title }} ({{cancion.duration}})</li>
  </ol>
</div>
<div *ngIf="item.songs.length">
  <div>
    <input
      [(ngModel)]="songIdx"
      type="number"
      min="0"
      [max]="item.songs.length"
      step="1"
    />
    <input [(ngModel)]="title" type="text" />
    <button type="button" (click)="changeTitle()">Cambiar titulo</button>
    <div>
      {{ item.songs[songIdx] | json }}
    </div>
    <div>
      {{ test | json }}
    </div>
  </div>
</div>
<div style="text-align: right">
  <ng-container *ngIf="isInBasket ; else addButton">
    <button
      type="button"
      (click)="removeFromBasket()"
      class="remove"
      *ngIf="isInBasket"
    >
      ❌ Remove from cart
    </button>
  </ng-container>
  <ng-template #addButton>
    <button
      type="button"
      (click)="addToBasket()"
      class="add"
      *ngIf="!isInBasket"
    >
      ➕ Add to cart
    </button>
  </ng-template>
</div>
